<div class="auth-container">
  <h2>Forgot Password</h2>
  <div class="auth-form">
    <input
      type="email"
      placeholder="Email"
      [value]="email"
      (input)="onInput($event)"
    />
    
    <div class="auth-error" *ngIf="error">{{ error }}</div>

    <button (click)="sendReset()">Send Reset Token</button>

    <div class="auth-message" *ngIf="message">
      {{ message }}
    </div>

    <div class="auth-link">
      <a href="/login">Back to Login</a>
    </div>
  </div>
</div>










<br><br><br><br><br><br>